:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: rgb(187, 210, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

.red-text{
  color: red;
}

.green-text{
  color: green;
}

.container{
  background-color: aliceblue;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-text{
  height: 25px;
  width: 260px;
  border-radius: 6px;
  border: 2px solid rgb(187, 210, 242);
  padding: 3px;
}

.add{
  width: 60px;
  background-color: rgb(187, 210, 242);
  color: rgb(84, 84, 152);
  border: none;
  border-radius: 6px;
}

h1{
  color: rgb(156, 171, 241);
}

.list {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(187, 210, 242);
  margin-top: 10px;
  padding: 10px;
}

.delete-btn{
  background-color: rgb(187, 210, 242);
  border: none;
  align-items: flex-end;
}

.checked{
  text-decoration: line-through;
  color: gray;
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(187, 210, 242);
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
}

.item-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete-btn {
  background-color: rgb(187, 210, 242);
  border: none;
  cursor: pointer;
}
